body {
  position: inherit;
}

mytable {
  position: fixed;
  top: 150px;
  left: 40px;
}

.header-container {
  height: 150px;
}

.nav-tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  position: absolute;
  top: 90px;
  right: 50px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: white;
  background-color: #e44d26;
  border: 1px solid rgba(0, 0, 0, 0);
  width: 105%;
}

.nav-tabs>li>a {
  width: 105%;
  height: 5%;
}

.ui-grid-header-cell-wrapper {
  height: 0%;
}

.ui-grid-viewport {
  height: auto!important;
}

.ui-grid-viewport .ui-grid-cell-contents {
  word-wrap: break-word;
  white-space: normal !important;
  font-size: smaller;
}

.ui-grid-row, .ui-grid-cell {
  height: auto !important;
}

.ui-grid-row div[role=row] {
  display: flex ;
  align-content: stretch;
}

#tab1-content {
  position: fixed;
  left: 40px;
  top: 150px;
}

#tab2-content {
  position: fixed;
  left: 40px;
  top: 150px;
}

#tab3-content {
  position: fixed;
  left: 40px;
  top: 150px;
}

.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button,
.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button:hover {
  box-shadow: none;
  border: none;
  transform: none;
  -webkit-transform: none;
}

md-content {
  overflow : hidden;
}

md-tooltip {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  width: auto;
  height: auto;
  word-wrap: break-word;
  overflow: auto;
}
md-button {
  min-width: 24;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media only screen and (min-width: 640px) {
  .myGrid {
    width: 600px;
    height: auto;
  }
}


@media only screen and (min-width: 800px) {
  .myGrid {
    width: 750px;
    height: auto;
  }

@media only screen and (min-width: 960px) {
  .myGrid {
    width: 900px;
    height: auto;
  }
}

@media only screen and (min-width: 1024px) {
.myGrid {
    width: 975px;
    height: auto;
  }
}

@media screen and (min-width: 600px) {
  md-tooltip .md-content {
    font-size: 12px;
    height: auto;
    width: 300px;
    padding: 8px;
    max-width: 300px;
    word-wrap: break-word;
  }
}

@media only screen and (min-width: 480px) {
  nav a {
    width: auto;
  }
}
